<nav class="navbar-bg-dark border-bottom border-info fixed top bg-opacity-25"
  data-bs-theme="primary" style= "background-color: rgba(0,0,0,0.8)">
  <div class="container_fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "maz.png", height: 80 %>
    <% end %>

    <button class="navbar-toggler" type="">

    </button>
  </div>
</nav>
