<nav class="navbar navbar-dark-dark navbar-expand-lg fixed top" style= "background-color: rgba(8, 8, 8, 0.8);">
<div class="container_fluid">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "maz.png", height: 80 %>
  <% end %>

  <div class="d-flex align-items-center">


  </div>


</div>

</nav>
