<div style="background-image", id="home-bg", class="home-bg">
  <img src="https://res.cloudinary.com/dtyuldook/image/upload/v1748362566/HomeBG_mrqikg.png" alt="">
</div>
<div>
  <h1 class="jersey-10-regular">MindMaze</h1>
</div>
