<div class="d-flex justify-content-center align-items-center vh-100">
  <h1 class="three-d-text">Welcome to MindMaze</h1>
</div>
<%= cl_image_tag("HomeBG_mrqikg.jpg", alt: "MindMaze-background", id: "home-bg", class: "home-bg") %>
