<div class="position-relative vh-100 text-center">
  <%# <audio
    id="aot-sound"
    preload="auto">
    <source
    src="https://www.myinstants.com/media/sounds/attack-on-titan-opening.mp3"
    type="audio/mpeg">
  </audio> %>
  <%# <%= audio_tag "eren_roar.mp3", id: "eren-scream", preload: "auto" %>
  <%# ? %>
 <div class="position-relative vh-100 text-center">
  <%= audio_tag("https://res.cloudinary.com/dtyuldook/raw/upload/v1748601741/eren_roar.mp3",
               id: "eren-scream",
               preload: "auto") %>

<!--   <div class="position-absolute top-0 start-50 translate-middle-x mt-4">
    <h1 class="three-d-text">
      Welcome to MindMaze
    </h1>  -->

  <div class="position-absolute top-0 start-50 translate-middle-x">
    <h1 class="three-d-text mt-0">
      Welcome to MindMaze
    </h1>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <%= link_to games_path, id: "start-link" do %>
      <h2 class="three-d-text start-hover">
        Ready to start?
      </h2>
    <% end %>
  </div>
</div>

<img src="https://res.cloudinary.com/dtyuldook/image/upload/v1748362566/HomeBG_mrqikg.png" class="home-bg" id="home-bg">
