<div style="background-image "id="home-bg">
</div>

<div class="container game-container">
  <div class="game-box">
    <iframe width="700" height="700" frameborder="0" src="https://www.educaplay.com/game/24040673-shapes_matching_game.html"></iframe>
  </div>
</div>
