<div style="background-image "id="home-bg">
</div>

<% url = @game.embed_link %>

 <div class="container game-container">
    <div class="game-box">
      <iframe width="700" height="700" frameborder="0" src="<%= url %>"></iframe>
    </div>
  </div>
</div>

<div>
  <h2>Score: </h2>
</div>
